<template name="Places">

    <div class="tagContent {{isNotRefreshing}}">
        {{#if emptyTag}}
        	<p>Try drag the yellow bar on the top. Surprise!</p>
      	{{else}}

         	{{#each recentTags}}
            <div class="tag_wrapper" data-tag-id="{{this._id}}">
                <div class="tag_name">
                    <i class="fa fa-anchor" aria-hidden="true"></i>
                    {{this.name}}
                </div>
                <div class="tag_content">
                    <div class="tag_avatar" data-tag-id="{{this._id}}">{{avatar this._id}}</div>
                    <div class="tag_duration">{{getDuration this}}</div>
                    <div class="tag_repeat">{{getRepetition this}}</div>
                    <div class="tag_description">{{this.description}}</div>
                </div>
            </div>
           	{{/each}}
        {{/if}}
    </div>

</template>
