<template name="TopAnchor">
  <div class="top_anchor top">
    <div class="content">
        <div class="lower_content">
            <div class="button_wrapper hide">
              <div class="create button">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Create Chatroom
              </div>
              <div class="pop-up">
                <div class="item_wrapper">
                  <div class="label">Name</div>
                  <input type="text" name="chatroom_name"/>
                </div>
                <div class="item_wrapper">
                  <div class="label">Description</div>
                  <input type="text" name="room_discription"/>
                </div>
                <div class="item_wrapper">
                  <div class="label" id="start">Start Time</div>
                  <input type="range" min="0" max="96" value="48" id="start_slide"/>
                  <div class="time" id="start_time">12:00</div>
                </div>
                <div class="item_wrapper">
                  <div class="label" id="duration">Duration</div>
                  <input type="range" min="0" max="88" value="12" id="duration_slide"/>
                  <div class="time right" id="duration_time">01:00</div>
                </div>

                    <div class="item_wrapper">
                      <div class="label">Repeat</div>
                      <div class="repeat_wrapper">
                        <label class="check" data-val="64">S</label>
                        <label class="check" data-val="32">M</label>
                        <label class="check" data-val="16">T</label>
                        <label class="check" data-val="8">W</label>
                        <label class="check" data-val="4">Th</label>
                        <label class="check" data-val="2">F</label>
                        <label class="check" data-val="1">S</label>
                        <label class="check all" data-val="0">All</label>
                      </div>
                    </div>
                    <div class="submit button">Submit</div>
                  </div>
                </div>
            </div>

            <hr>

            <div class="refreshing">
              <i class="fa fa-circle-o-notch fa-spin"></i>
            </div>

            <div class="tagContent"></div>
        </div>

    <div class="submarine_bg">
      <svg class="submarine" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="37.5 0 375 280">
        <use href="/submarine-bg_ver2.svg#submarine"></use>
      </svg>
      <div class="click_anchor"></div>
    </div>
  </div>
</template>
