<template name="Chats">
  <div class="chat_content">
    <div class="button back">
      <i class="fa fa-angle-left" aria-hidden="true"></i>
    </div>
    <div class="info_avatar" data-friendid="{{friendId}}">
      {{{avatar (profileSeed friendId)}}}

    </div>

    <div class="messages">
      {{#each messages}}
        <p>{{sender}} to {{receiver}}: {{message}}</p>
      {{/each}}
    </div>
    <div class="inputmsg">
      <input id="msg" type="text" placeholder="Message"/>
      <div class="button" data-action="send">Send</div>
    </div>
  </div>
</template>
