  <template name="Friends">
    <div class="friend_content">
    <div class="friendsRecommend">
      <div class="recommend_header bar">
        <p>Recommend Friends</p>
      </div>
      <div class="recommend_content">
        {{#each recommendations}}
          <div class="recommend_wrap">
            <div class="avatar">
              <svg height=20vw width=20vw>
                <circle cx=10vw cy=10vw r=8vw stroke="black" stroke-width="0.3" fill="white" />
              </svg>
            </div>
            <div class="description">{{description}}</div>
            <div class="button">
              +
            </div>
          </div>
        {{/each}}
      </div>

    </div>

  <div class="friendsRequests">
    <div class="requests_header bar">
      <p>New Friend Requests</p>
    </div>
    <div class="requests_content">
      {{#each requests}}
        <div class="request_wrap">
          <div class="avatar">
            <svg height=20vw width=20vw>
                <circle cx=10vw cy=10vw r=8vw stroke="black" stroke-width="0.3" fill="white" />
              </svg>
          </div>
          <div class="rec_descript">
            {{description}}
          </div>
          <div class="button">
            Accept
          </div>
          <div class="button">
            Dismiss
          </div>
        </div>
      {{/each}}
    </div>
  </div>

  <div class="friendsContainer">
    <ul class="friendsList">
      <li class="oneFriend">
        <div class="avatar">

          </div>
          <div class="nickname">
        </div>
        <div class="profileName">
        </div>
      </li>

      <li class="oneFriend">
        <div class="avatar">

          </div>
          <div class="nickname">
        </div>
        <div class="profileName">
        </div>
      </li>
    </ul>
  </div>
    </div>
</template>
