  <template name="Friends">
    <div class="friend_content">
    <div class="friendsRecommend">
      <div class="recommend_header bar">
        <p>Recommend Friends</p>
      </div>
      <div class="recommend_content">
        {{#each recommendations}}
          <div class="recommend_wrap">
            <div class="avatar">
              <svg height=18vw width=18vw>
                <circle cx=9vw cy=9vw r=7vw stroke="black" stroke-width="0.3" fill="white" />
              </svg>
            </div>
            <div class="description">{{description}}</div>
            <div class="button">
              +
            </div>
          </div>
        {{/each}}
      </div>

    </div>

  <div class="friendsRequests">
    <div class="requests_header bar">
      <p>New Friend Requests</p>
    </div>
    <div class="requests_content">
      {{#each requests}}
        <div class="request_wrap">
          <div class="avatar">
            <svg height=18vw width=18vw>
                <circle cx=9vw cy=9vw r=7vw stroke="black" stroke-width="0.3" fill="white" />
              </svg>
          </div>
          <div class="rec_descript">
            {{description}}
          </div>

          <div class="button dismiss">
            X
          </div>
          <div class="button accept">
            √
          </div>

        </div>
      {{/each}}
    </div>
  </div>

  <div class="friendList">
    <div class="friend_list bar">
      <p>My Friends</p>
    </div>
    <div class="friendList_content">
      {{#each friendList}}
      <div class="friend_wrap">
        <div class="avatar">
            <svg height=18vw width=18vw>
                <circle cx=9vw cy=9vw r=8vw stroke="black" stroke-width="0.3" fill="white" />
              </svg>
          </div>

          <div class="nickname">
            {{nickname}}
          </div>

          <div class="name">
            {{name}}
          </div>

      </div>
      {{/each}}
    </div>
  </div>
    </div>
</template>
