<template name="Home">
    <div class= "user_name_avatar">
        <div class= "avatar_circle">
            {{{avatar randomSeed}}}
        </div>
        <div class= "greeting_name">
            <p>Hello, Captain {{greetingName}}</p>
        </div>
    </div>


    <div class= "recent_tags">
        <h3>Recent tags</h3>

            <div class= "recent_tag_name">
              {{#if emptyTagas}}
                  <p>Try drag the yellow bar on the top. Surprise!</p>
              {{else}}
                {{#each recentTags}}
                <div class="tag_circle_wrapper">
                  <div class="tag_circle" data-tagid="{{tagId}}">
                      {{{avatar tagId}}}
                      {{#if unreadMessage this}}
                          <div class="red dot"></div>
                      {{/if}}
                  </div>
                  <a href="/chats/tag/{{tagId}}">{{tagName tagId}}</a>
                </div>
                {{/each}}
              {{/if}}
            </div>
    </div>

    <div class="recent_friends">
        <h3>Recent friends</h3>

        <div class= "recent_friend_name">
          {{#if emptyFriends}}
              <p>Find some friends and enjoy!</p>
          {{else}}
            {{#each recentFriends}}
            <div class="name_circle_wrapper">
              <div class="name_circle" data-userid="{{userId}}">
                  {{{avatar (profileSeed userId)}}}
                  {{#if unreadMessage this}}
                      <div class="red dot"></div>
                  {{/if}}
              </div>
              <a href="/chats/friend/{{userId}}">
                  {{getName userId nickname}}
              </a>
            </div>
            {{/each}}
          {{/if}}
        </div>
    </div>
</template>
