<template name="mainLayout">
  <h1>Hey Hey Captain, {{username}}</h1>
  {{> Template.dynamic template=content}}
  <div class="bottom nav">
    <div class="flex-item">
      <div class="button" data-link="home">Home</div>
    </div>
    <div class="flex-item">
      <div class="button" data-link="friends">Friends</div>
    </div>
    <div class="flex-item">
      <div class="button" data-link="places">Places</div>
    </div>
    <div class="flex-item">
      <div class="button" data-link="profile">Profile</div>
    </div>
  </div>
</template>
