<template name="mainLayout">
  {{> TopAnchor}}
  <div class="content">
    {{> Template.dynamic template=content}}
  </div>
  <div class="bottom nav">
    <div class="button flex-item" data-link="home">
        <a><i class="fa fa-user fa-lg" aria-hidden="true"></i></a>
    </div>
    <div class="button flex-item" data-link="friends">
        <a><i class="fa fa-address-book fa-lg" aria-hidden="true"></i></a>
    </div>
    <div class="button flex-item" data-link="places">
        <a><i class="fa fa-anchor fa-lg" aria-hidden="true"></i></a>
    </div>
    <div class="button flex-item" data-link="profile">
        <a><i class="fa fa-cog fa-lg" aria-hidden="true"></i></a>
    </div>
  </div>
</template>
