  <template name="Friends">
    <div class="friend_content">
    {{#if hasRecommendation}}
      <div class="friendsRecommend">
        <div class="recommend_header bar">
          <p>Recommend Friends</p>
        </div>
        <div class="recommend_content">
          {{#each recommendations}}
            <div class="recommend_wrap">
              <div class="avatar">
                {{{avatar (profileSeed userId)}}}
              </div>
              <div class="text">
              <div class="usename">
                {{getName userId nickname}}
              </div>
              <div class="description">
                {{recommendReason}}
              </div>
              </div>
              <div class="button ignore" data-userid="{{userId}}">
                <i class="fa fa-close"></i>
              </div>
              <div class="button add" data-userid="{{userId}}">
                <i class="fa fa-plus"></i>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    {{/if}}

  <div class="friendsRequests">
    {{#if hasRequest}}
      <div class="requests_header bar">
        <p>New Friend Requests</p>
      </div>
      <div class="requests_content">
        {{#each requests}}
          <div class="request_wrap">
            <div class="avatar">
              {{{avatar (profileSeed userId)}}}
            </div>
            <div class="text">
              <div class="usename">
                {{getName userId false}}
              </div>
              <div class="message">
                {{requestReason}}
              </div>
            </div>
            <div class="button dismiss" data-userid="{{userId}}">
              <i class="fa fa-times" aria-hidden="true"></i>
            </div>
            <div class="button accept" data-userid="{{userId}}">
              <i class="fa fa-check" aria-hidden="true"></i>
            </div>

          </div>
        {{/each}}
      </div>
    {{/if}}
  </div>

  <div class="friendList">
    <div class="friend_list bar">
      <p>My Friends</p>
    </div>
    <div class="friendList_content">
      {{#if emptyFriends}}
            <p>Find some friends and enjoy!</p>
      {{else}}
      {{#each friendList}}
      <div class="friend_wrap">
        <div class="avatar connect_profile" data-userid="{{userId}}">
            {{{avatar (profileSeed userId)}}}
          </div>

          <div class="name">
            {{getName userId nickname}}
          </div>

      </div>
      {{/each}}
      {{/if}}
    </div>
  </div>

  <div class="popAdd">
    <p>Add a new friend</p>
    <div class="input">
      <textarea id="paragraph_text" cols="50" rows="10"></textarea>
    </div>
    <div class="popAdd button cancel">
      Cancel
    </div>
    <div class="popAdd button confirm">
      Submit
    </div>
  </div>
  </div>
</template>
