  <template name="Friends">
    <div class=friend_content_wrapper></div>
    <div class="friend_content">
    {{#if hasRecommendation}}
      <div class="friendsRecommend">
        <div class="recommend_header bar">
          <p>Recommend Friends</p>
        </div>
        <div class="recommend_content">
          {{#each recommendations}}
            <div class="recommend_wrap">
              <div class="avatar">
                {{{avatar (profileSeed userId)}}}
              </div>
              <div class="text">
              <div class="usename">
                {{getName userId}}
              </div>
              <div class="description">
                {{recommendReason}}
              </div>
              </div>
              <div class="button">
                <i class="fa fa-plus"></i>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    {{/if}}

  <div class="friendsRequests">
    <div class="requests_header bar">
      <p>New Friend Requests</p>
    </div>
    <div class="requests_content">
      {{#each requests}}
        <div class="request_wrap">
          <div class="avatar">
  <!--         {{{avatar (profileSeed userId)}}} -->
          </div>
          <div class="rec_descript">
  <!--          {{description}} -->
          </div>

          <div class="button dismiss">
            X
          </div>
          <div class="button accept">
            √
          </div>

        </div>
      {{/each}}
    </div>
  </div>

  <div class="friendList">
    <div class="friend_list bar">
      <p>My Friends</p>
    </div>
    <div class="friendList_content">
      {{#if emptyFriends}}
            <p>Find some friends and enjoy!</p>
      {{else}}
      {{#each friendList}}
      <div class="friend_wrap">
        <div class="avatar connect_profile">
            {{{avatar (profileSeed userId)}}}
          </div>

          <div class="nickname">
            {{nickname}}
          </div>

          <div class="name">
            {{getName userId nickname}}
          </div>

      </div>
      {{/each}}
      {{/if}}
    </div>
  </div>
    </div>
</template>
