<template name="FriendProfile">
  <div class="top_wrapper">
    <div class="top_pic"></div>

    <div class="profile_picture">{{{avatar randomSeed}}}</div>

    <div class="changeUserName_wrapper">
      <input type="text" class="userName" placeholder="{{getUserName}}" disabled>
    </div>

    {{#if isFriend}}
      <div class="changeNickName_wrapper">
        <input type="text" class="nickName" placeholder="{{getNickName}}" disabled>
        <i class="fa fa-pencil"></i>
        <i class="fa fa-check-circle-o"></i>
        <i class="fa fa-spin fa-circle-o-notch"></i>
      </div>
    {{/if}}
  </div>

  <div class="socialMedia_wrapper">
    {{#if isFriend}}
      <div class="change_wrapper">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        <input type="text" class="email" placeholder="{{getEmail}}" disabled>
      </div>
      {{else}}
      <div class="warning">
        You and the user are not friends yet. Your personal infos are still undisclosed.
        Be careful sending/accepting the friend request. The user is accessible to your social media account,
        once you sent/accepted the friend request.
      </div>
    {{/if}}

    {{#if hasFacebook}}
      <hr id="inProfile">
      <div class="change_wrapper">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <input type="text" class="facebook" placeholder="{{getFacebook}}" disabled>
      </div>
    {{/if}}

    {{#if hasGithub}}
      <hr id="inProfile">
      <div class="change_wrapper">
        <i class="fa fa-github" aria-hidden="true"></i>
        <input type="text" class="github" placeholder="{{getGithub}}" disabled>
      </div>
    {{/if}}

    <hr id="inProfile">
    <div class= "recent_tags">
      <h3>Common Interested Chatrooms</h3>
      {{#if hasNoIntersection}}
        <p>You and the user shares no common chatrooms.</p>
      {{else}}
        <div class= "recent_tag_name">
          {{#each getIntersection}}
            <div class="tag_circle_wrapper">
              <div class="tag_circle" data-tagid="{{tagId}}">
                {{{avatar this}}}
              </div>
              <a href="#">{{getName this}}</a>
            </div>
          {{/each}}
        </div>
      {{/if}}
    </div>
  </div>

  <div class="buttons">
    {{#if isFriend}}
      <div class="unFriend button">
        <i class="fa fa-chain-broken"></i>
        UnFriend
      </div>
    {{else}}
      <div class="addFriend button">
        <i class="fa fa-handshake-o"></i>
        Add Friend
      </div>
    {{/if}}

    <div class="chat button">
      <i class="fa fa-comment"></i>
      Chat
    </div>
  </div>

</template>
