<template name="Friends">
  <div class="friend_content">
  {{#if hasRecommendation}}
    <div class="friendsRecommend">
      <div class="recommend_header bar">
        <p>Recommend Friends</p>
      </div>
      <div class="recommend_content">
        {{#each recommendations}}
          <div class="recommend_wrap" data-userid="{{this.userId}}">
            <div class="avatar">
              {{{avatar (profileSeed userId)}}}
            </div>
            <div class="text">
              <div class="usename">
                {{getName userId nickname}}
              </div>
              <div class="description">
                {{recommendReason}}
              </div>
            </div>
            <div class="buttons">
              <div class="button add" data-userid="{{this.userId}}">
                <i class="fa fa-plus"></i>
              </div>
              <div class="button ignore" data-userid="{{this.userId}}">
                <i class="fa fa-close"></i>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  {{/if}}

  {{#if hasRequest}}
    <div class="friendsRequests">
      <div class="requests_header bar">
        <p>New Friend Requests</p>
      </div>
      <div class="requests_content">
        {{#each requests}}
          <div class="request_wrap" data-userid="{{this.userId}}">
            <div class="avatar">
              {{{avatar (profileSeed userId)}}}
            </div>
            <div class="text">
              <div class="usename">
                {{getName userId false}}
              </div>
              <div class="message">
                {{requestReason}}
              </div>
            </div>
            <div class="buttons">
              <div class="button accept" data-userid="{{this.userId}}">
                <i class="fa fa-check" aria-hidden="true"></i>
              </div>
              <div class="button dismiss" data-userid="{{this.userId}}">
                <i class="fa fa-times" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  {{/if}}

  <div class="friendList">
    <div class="friend_list bar">
      <p>My Friends</p>
      <i class="fa fa-comment switch"></i>
      <i class="fa fa-user switch"></i>
    </div>
    
    <div class="friendChatList_content">
      {{#if emptyChat}}
        <p>Go Chat with some friends!</p>
      {{else}}
        {{#each friendChatList}}
          <div class="friend_row">
            <div class="avatar" data-userid="{{userId}}">
              {{{avatar (profileSeed userId)}}}
            </div>

            <div class="name">{{getName this}}</div>
            <div class="msg">{{message}}</div>
            <div class="time">{{getTime time}}</div>
          </div>
        {{/each}}
      {{/if}}
    </div>

    <div class="friendList_content">
      {{#if emptyFriends}}
        <p>Add some friends and enjoy!</p>
      {{else}}
        {{#each friendAlphaList}}
          <div class="friend_wrap">
            <div class="avatar connect_profile" data-userid="{{userId}}">
              {{{avatar (profileSeed userId)}}}
            </div>

            <div class="name">
              {{getName this}}
            </div>
          </div>
        {{/each}}
      {{/if}}
    </div>
  </div>

  </div>
</template>
