<template name="FriendProfile">
  <div class="profile_content">
    <div class="top_pic">
       <div class="button_back" data-userid="{{userId}}">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </div>
    </div>
    <div class="mid_avatar">
      {{{avatar (profileSeed userId)}}}
    </div>
    <div class="bottom_information">
      <div class="name">
        {{getName userId false}}
      </div>
      <form class="editName">
        <input id="edit_name" type="text" class="nickname" placeholder="Click To Add A Nickname" value="{{getName userId true}}">
      </form>
      <div class="profi_facebook profi_wrap">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <p class="account_facebook">
          facebook!
       <!--   {{getFacebook}} -->
        </p>
      </div>
      <div class="profi_google profi_wrap">
        <i class="fa fa-google" aria-hidden="true"></i>
        <p class="account_google">
          google!
          <!--   {{getGoogle}} -->
        </p>
      </div>
      <div class="profi_github profi_wrap">
        <i class="fa fa-github" aria-hidden="true"></i>
        <p class="account_github">
          github!
          <!--   {{getGithub}} -->
        </p>
      </div>

    </div>
  </div>
</template>
