.chat_content {
  .info_avatar {
    margin-top: 20vw;
    margin-right: 5vw;
    width: 18vw;
    height: 18vw;
    display: inline-block;
    float: right;
  }
  .messages {
    margin: 20vw 0 0 0;
    width: 100vw;
    height: 53vh;
  }
  .button.back{
    margin-top: 20vw;
    margin-left: 5vw;
    display: inline-block;
    margin-top: 20vw;
    background-color: transparent;
    font-size: 130%;
  }
  .inputmsg {
    position: absolute;
    top: 90vh;
    height: 12vw;
    width: 100vw;

    input {
      float: left;
      width: 69vw;
      height: 10vw;
      line-height: 10vw;
      margin-left: 1vw;
    }

    .button {
      width: 25vw;
      float: right;
    }
  }
}
