.content {
  .messages {
    margin: 20vw 0 0 0;
    width: 100vw;
    height: 73vh;
  }

  .inputmsg {
    height: 10vh;
    width: 100vw;

    input {
      float: left;
      width: 70vw;
      height: 10vw;
      line-height: 10vw;
    }

    .button {
      width: 25vw;
      float: right;
    }
  }
}
