/*
 * Triad Color Palatte
 * main_color: purple; sub_color: green; comp_color: yellow
 * 1 is darkest to 4 lightest
 */
@main_color: #A485C6;
@main_color1: #61398b;
@main_color2: #6b6b6b;
@main_color3: #828282;
@main_color4: #2c2c2c;
@main_color5: #a9a9a9;
@sub_color: #d6f39d;
@sub_color1: #ece8ad;
@sub_color2: #fff43e;
@sub_color3: #fef783;
@sub_color4: #fffeee;
@sub_color5: #fdfbd9;
@comp_color: #FFE5A4;
@comp_color1: #CEA84A;
@comp_color2: #F6D37B;
@comp_color3: #FFEFC8;
@comp_color4: #FFF8E8;
@comp_color5: #0F0F0F;
