.hidden {
  display: none !important;
}
.profile_content{


  .top_pic{
    height: 33vh;
    background-color: rgba(168,168,168,0.3);
    .button_back{
      position: absolute;
      width: 6vw;
      left: 5vw;
      margin-top: 22vw;
      font-size: 400%;
      color: black;
    }
  }

  .mid_avatar{
    width: 35vw;
    height: 35vw;
    position: absolute;
    z-index: 1;
    top: 23vh;
    left: 32vw;
  }

  .bottom_information{
    height: 67vh;
    background-color: transparent;
    .name{
      color: white;
      font-size: 300%;
      padding-top: 26vw;
      text-align: center;
    }

    form{
      margin-top: 3vw;
      margin-left: 10vw;
      margin-bottom: 12vw;
      input{
        height: 6vw;
        width: 80vw;
        text-align: center;
        background-color: transparent;
        font-size: 170%;
        border-width: 0;
        color: rgb(168,168,168);
      }
      input::-webkit-input-placeholder {
        color: rgba(168,168,168,0.4) !important;
        font-style: italic;
      }
    }

    .profi_wrap{
        .account_facebook{
          padding-left: 4vw;
          display: inline;
          font-size: 200%;
          color: rgba(256,256,256,0.7);
        }
        .account_google{
          padding-left: 3vw;
          display: inline;
          font-size: 200%;
          color: rgba(256,256,256,0.7);
        }
        .account_github{
          padding-left: 3vw;
          display: inline;
          font-size: 200%;
          color: rgba(256,256,256,0.7);
        }

      margin-left: 5vw;
      margin-right: 5vw;
      margin-top: 4vw;
    }
    .button_wrapper{
      position: absolute;
      padding-top: 50vw;
      margin-left: 10vw;
      .chat{
        width: 34vw;
        height: 10vw;
        text-align: center;
        line-height: 10vw;
        font-size: 160%;
        display: inline-block;
      }
      .add{
        width: 34vw;
        height: 10vw;
        text-align: center;
        line-height: 10vw;
        font-size: 160%;
        display: inline-block;
      }
    }
  }

}
