.friend_content {
  padding-top: 15vw;
  overflow-y: auto;
  height: 86vh;
}

.bar {
  position: relative;
  top: 0;
  left: 0;
  width: 96vw;
  margin-left: 2vw;
  line-height: 6vw;
  background-color: #353535;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 1vw;
  p {
    padding-left: 3vw;
    font-size: 120%;
    margin: auto;
    color: white;
    font-weight: bold;
  }

  .fa {
    color: white;
    position: absolute;
    right: 4vw;
    top: 0;
    line-height: 6vw;
    transition: opacity 0.5s ease, visibility 0.5s ease;
  }
}

.friendsRecommend {

  position: relative;
  margin-top: 3vw;

  .recommend_content {
    background-color: #444;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 2vw;
    margin-bottom: 4vw;
    width: 96vw;
  }

  .recommend_wrap:last-child {
    border-bottom: none;
  }

  .recommend_wrap {
    border-bottom: 1.5px solid #383838;
    margin-left: 2vw;
    width: 94vw;
    height: 19vw;
    vertical-align: middle;

    .avatar {
      height: 15vw;
      width: 15vw;
      padding-top: 2vw;
      padding-left: 1vw;
      float: left;
    }

    .text{
      width: 45vw;
      display: inline-block;
      margin-left: 2vw;
      color: lightgrey;
    }
    .usename{
      margin-top: 2vw;
      font-size: 120%;
    }
    .description {
      padding-top: 1vw;
      width: 48vw;
      font-size: 105%;
      display: inline-block;
    }

    .buttons {
      position: relative;
      width: 26vw;
      height: 8vw;
      float: right;
      font-size: 155%;
      border: 0;
      margin-right: 2vw;
      margin-top: 5vw;
    }

    .button.add {
      left: 13vw;
      top: 0;
      border-radius: 0 8px 8px 0;
      background-color: rgba(249, 233, 47,0.85);
      .fa {
          vertical-align: text-bottom;;
      }
    }

    .button.ignore {
      left: 0;
      top: 0;
      border-radius: 8px 0 0 8px;
      background-color: rgba(151, 151, 151, 0.9);
    }

    .button.add, .button.ignore {
      position: absolute;
      width: 13vw;
      height: 8vw;
      line-height: 8vw;
      margin: 0;
      padding: 0;
      color: white;
      font-size: 100%;

      .fa {
        line-height: 8vw;
      }
    }
  }
}

.friendsRequests {

  position: relative;
  .requests_content {
    margin-left: 2vw;
    margin-bottom: 4vw;
    width: 96vw;
    background-color: #444;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .request_wrap {
    margin-left: 2vw;
    width: 94vw;
    height: 19vw;
    vertical-align: middle;
    border-top-width: medium;

    .avatar {
      width: 15vw;
      height: 15vw;
      padding-top: 2vw;
      padding-left: 1vw;
      float: left;
    }
    .text{
      width: 45vw;
      display: inline-block;
      margin-left: 2vw;
      color: lightgrey;
    }
    .usename{
      margin-top: 3vw;
      font-size: 120%;
    }
    .message {
      width: 48vw;
      font-size: 105%;
      display: inline-block;
    }

    .buttons {
      position: relative;
      width: 26vw;
      height: 8vw;
      float: right;
      font-size: 155%;
      border: 0;
      margin-right: 2vw;
      margin-top: 5vw;
    }

    .button.accept {
      left: 13vw;
      top: 0;
      border-radius: 0 8px 8px 0;
      background-color: rgba(249, 233, 47,0.85);
      .fa {
          vertical-align: text-bottom;;
      }
    }

    .button.dismiss {
      left: 0;
      top: 0;
      border-radius: 8px 0 0 8px;
      background-color: rgba(151, 151, 151, 0.9);
    }

    .button.accept, .button.dismiss {
      position: absolute;
      width: 13vw;
      height: 8vw;
      line-height: 8vw;
      margin: 0;
      padding: 0;
      color: white;
      font-size: 100%;

      .fa {
        line-height: 8vw;
      }
    }
  }
}


.friendList.alpha {
  .bar {
    .fa-user {
      visibility: visible;
      opacity: 1;
    }

    .fa-comment {
      visibility: hidden;
      opacity: 0;
    }
  }
  .friendList_content {
    visibility: visible;
    opacity: 1;
  }
  .friendChatList_content {
    visibility: hidden;
    opacity: 0;
  }
}

.friendList {
  position: relative;

  .bar {
    .fa-user {
      visibility: hidden;
      opacity: 0;
    }

    .fa-comment {
      visibility: visible;
      opacity: 1;
    }
  }

  .friendList_content {
    opacity: 1;
    visibility: visible;
  }

  .friendList_content {
    opacity: 0;
    visibility: hidden;
  }

  .friendList_content, .friendChatList_content {
    position: absolute;
    top: 6vw;
    left: 0;
    margin-left: 2vw;
    background-color: #444;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 96vw;
    height: 78vh;
    overflow: scroll;
    transition: opacity 0.5s ease, visibility 0.5s ease;
  }

  .friend_row {
    position: relative;
    width: 96vw;
    height: 16vw;
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid #2d2d2d;
    padding-top: 1vw;
    padding-bottom: 1vw;

    .avatar {
      position: absolute;
      top: 2vw;
      left: 4vw;
      width: 14vw;
      height: 14vw;
    }

    .name {
      position: absolute;
      top: 2.5vw;
      width: 40vw;
      left: 22vw;
      font-size: 110%;
      color: #c2c2c2;
    }

    .msg {
      position: absolute;
      top: 9vw;
      width: 70;
      left: 22vw;
      font-size: 120%;
      color: #efefef;
    }

    .time {
      position: absolute;
      top: 3vw;
      width: 10vw;
      right: 5vw;
      font-size: 110%;
      color: #c2c2c2;
    }
  }

  .friend_wrap {
    margin-left: 1vw;
    width: 22vw;
    height: 22vw;
    display: inline-block;
    margin-top: 3vw;
    .avatar {
      width: 15vw;
      height: 12vw;
      padding-top: 2vw;
      margin-left: 4.5vw;
    }

    .name {
      text-align: center;
      font-size: 110%;
      margin-top: 4vw;
      width: 22vw;
      margin-left: 1vw;
      color: white;
    }
  }
  .friend_wrap:last-child {
    padding-bottom: 20vh;
  }
}
