.profile_content{


  .top_pic{
    height: 25vh;
    background-color: beige;

  }

  .mid_avatar{
    position: absolute;
    z-index: 2;
    margin-left: 38vw;

  }

  .bottom_information{
    height: 75vh;
    background-color: bisque;
  }

}
