@import "color.less";

.whole_page{
    position: absolute;
}

.user_name_avatar {
  padding-top: 15vw;
}
.avatar_circle{
    margin: auto;
    margin-top: 8vh;
    margin-bottom: 0;
    width: 30vw;
	  height: 30vw;
}

.greeting_name {
    text-align: center;

    p{
        font-family: "Robot-Bold", sans-serif;
        color: white;
        font-size: 160%;
        font-weight: bold;
        //text-shadow: 1px 1px 1px;
        margin: 0em;

    }
}

hr{
    border-color: @sub_color2;
    margin-top: 2vh;
    margin-right: 5vw;
    margin-left: 1vw;
    margin-bottom: 0.5vh;

}

.recent_tags, .recent_friends{
    margin: 0;
    width: 100%;
    height: 22vh;
    overflow: hidden;

    p{
        font-family: "Robot-Bold", sans-serif;
        font-weight: bold;
        text-align: center;
        padding-top: 6vh;
        color: white;
        font-size: 140%;
    }

    .recent_tag_name, .recent_friend_name{
        //position: absolute;
        //left: 0em;
        margin-top: 2vh;
        width: 100%;
        overflow: auto;
        white-space: nowrap;
        //flex-direction: row;
        padding-bottom: 25px;
       // bottom: -10px;
    }

    .recent_tag_name .tag_circle_wrapper,
    .recent_friend_name .name_circle_wrapper{
        margin-top: 2vh;
        display: inline-block;
        text-align: center;
        width: 24vw;
        text-decoration: none;
    }

    .recent_tag_name .tag_circle,
    .recent_friend_name .name_circle{
        margin: auto;
        //margin-top: 8vh;
        margin-bottom: 0.5vh;
        width: 16vw;
	      height: 16vw;
    }


    .recent_tag_name a,
    .recent_friend_name a{
        color: white;
        text-decoration: none;
        font-size: 110%
    }
}


 h3{
        margin: 0;
        margin-left: 1vw;
        margin-bottom: 0.5vh;
        font-size: 140%;
        font-family: "Robot-Bold", sans-serif;
        color: white;
}

.whole_page {
    margin: 0em;
    width: 100%;
    height: 100%;
    /*opacity: 1;
    filter: blur(50px);*/
}
