.top_anchor.top {
  bottom: 100vh;
}

.top_anchor.bottom {
  bottom: 0;
}

.content > .fa-cog {
  font-size: 1000%;
  color: white;
  margin-left: 35vw;
  margin-top: 45vh;
}

body > .content {
  height: 93vh;
  width: 100vw;
  margin: 0;
  transition: 0.5s filter ease;
  -webkit-transition: 0.5s -webkit-filter ease;
}

.content.drag {
  transition: none;
  -webkit-transition: none;
}
