.button {
  border: 0.1em solid #fff;
  border-radius: 0.3em;
  background: #000;
  color: #fff;
  font-size: 120%;
  width: 8ch;
  height: 2em;
  line-height: 2em;
  text-align: center;
  transition: background-color 0.5s ease, color 0.5s ease;

}

.button.active {
  background: #fff;
  color: #000;
}

.bottom.nav {
  position: absolute;
  bottom: 1em;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.flex-item {
  flex: 1 1 0; 
}
