@import "color.less";

.profile_picture {
  border: 0.3em solid @sub_color;
  border-radius: 0.3em;
  height: 7em;
  width: 7em;
}

.right {
  float: right;
}

.left {
  float: left;
}

.changeEmail {
  height: 10vh;
  background-color: @main_color2;
}

.changeSeed {
  height: 20vh;
  background-color: @main_color1;
}

.email {
  margin: 2em;
}
