@import "color.less";

.top_anchor {
  position: absolute;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  background-color: rgba(255,255,255,0.1);
  overflow: visible;;

  .submarine_bg {
    position: absolute;
    height: 75vw;
    width: 100vw;
    bottom: -22.5vw;
    left: 0;

    .submarine {
      width: 100%;
      height: 100%;
    }
  }
}

.top_anchor.drag {
  overflow: visible !important;
}

.top_anchor.transition {
  transition: bottom ease 0.5s;
  overflow: visible !important;
}

.content{
    .lower_content{

        .button_wrapper.hide {
          height: 8vw;

          .button {
            border-radius: 8px;
          }

          .pop-up {
            opacity: 0;
            visibility: hidden;
          }
        }

        .button_wrapper{
            width: 94vw;
            margin: 3vw;
            border: 0;
            border-radius: 8px;
            background-color: rgba(0, 0, 0, 0.5);
            font-family: "Robot-Bold", sans-serif;
            color: rgba(255,255,255,0.7);
            text-align: center;
            font-size: 120%;
            font-weight: bold;
            transition: height 0.5 ease;

            .button {
              border: 0;
              border-radius: 8px 8px 0 0;
              background-color: rgba(255, 255, 255, 0.3);
              width: 100%;
              height: 8vw;
              color: white;
              line-height: 8vw;
              margin: 0;
            }

            .pop-up {
              opacity: 1;
              visibility: visible;
              transition: opacity 0.5s ease, visibility 0.5s ease;

              .item_wrapper:last-child {
                margin-bottom: 2vw;
              }

              .item_wrapper {
                position: relative;
                height: 7vw;
                font-size: 100%;
                margin-top: 2vw;

                .label {
                  position: absolute;;
                  margin-left: 2vw;
                  left: 0;
                  display: inline-block;
                  width: 28vw;
                  line-height: 6.5vw;
                  text-align: left;
                }

                .time {
                  position: absolute;
                  color: white;
                  left: 37vw;
                  width: 16vw;
                }

                .time.right {
                  left: 66vw;
                }

                input[type="text"] {
                  position: absolute;
                  top: -1.2vw;
                  left: 32vw;
                  width: 56vw;
                  padding-left: 2vw;
                  font-size: 100%;
                  line-height: 6vw;
                  border: 0;
                  border-bottom: 0.8vw solid rgba(255, 255, 255, 0.3);
                  background: transparent;
                  color: white;
                }

                input[type=range] {
                  position: absolute;
                  left: 32vw;
                  top: 5vw;
                  width: 56vw;
                  height: 1vw;
                  border-radius: 1vw;
                  background: rgba(255, 255, 255, 0.3);
                  -webkit-appearance: none;
                }

                input[type=range]::-webkit-slider-thumb {
                  height: 8vw;
                  width: 6vw;
                  border-radius: 1vw;
                  background: #989898;
                  -webkit-clip-path: polygon(100% 0, 100% 70%, 50% 100%, 0 70%, 0 0);
                  clip-path: polygon(100% 0, 100% 70%, 50% 100%, 0 70%, 0 0);
                  cursor: pointer;
                  -webkit-appearance: none;
                  margin-top: -6vw;
                }

                input[type=range]:focus::-webkit-slider-runnable-track {
                  background: transparent;
                }

                input:focus {
                  outline: none;
                }

                .repeat_wrapper {
                  position: absolute;
                  left: 32vw;
                  top: 1.2vw;
                  width: 65vw;
                  margin-left: -1vw;

                  label {
                    float: left;
                    font-size: 90%;
                    margin-right: 0.5vw;
                    width: 6vw;
                    transition: background 0.5s ease;
                  }
                  label.all {
                    float: right;
                    margin-right: 5vw;
                  }


                  label.selected {
                    background-color: rgba(255, 255, 255, 0.3);
                    color: white;
                    border-radius: 6.5vw;
                  }
                }
              }

              .button.submit {
                border-radius: 0 0 8px 8px
              }
            }
        }
    }

    hr {
        width: 100%;
        border-color: rgba(255,255,255,0.5);
        margin: 0;
        margin-top:1.5vw;
    }

    .tagContent {

        overflow: auto;
        height: 103vw;
        .tag_wrapper{
            margin-top: 3vw;
            margin-left: 3vw;
            margin-right: 3vw;

            .tagName{
                width: 92vw;
                height: 6vw;
                margin: 0;
                border: 0;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                padding-left: 2vw;
                padding-top: 1vw;
                background-color: rgba(255,255,255,0.7);
                color: rgba(51,51,51,0.9);
                font-size: 120%;
                font-weight: bold;
            }

            .tagDescription{
                width: 94vw;
                height: 21vw;
                margin: 0;
                border: 0;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                background-color: rgba(255,255,255,0.3);
                color: #333;
                font-size: 120%;
                font-weight: bold;

            }
        }
    }
}
