@import "color.less";

.top_anchor {
  position: absolute;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  transition: bottom ease 0.5s, transform ease 0.5s;
  background-color: rgba(255,255,255,0.1);
  //overflow: visible;
    //-webkit-filter: blur(5px);

  .submarine_bg {
    position: absolute;
    height: 75vw;
    width: 100vw;
    bottom: -22.5vw;
    left: 0;

    .submarine {
      width: 100%;
      height: 100%;
    }
  }
}

.top_anchor.drag {
  transition: initial;
}

.content{
    .lower_content{
        .welcome_join, .welcome_create{
            margin-top: 2vh;
            margin-left: 2vw;
            margin-right: 2vw;
            margin-bottom: 0;
            font-family: "Robot-Bold", sans-serif;
            color: white;
            font-size: 160%;
            font-weight: bold;
            text-shadow: 1px 1px 1px;
        }

        .wifi_tags{
            margin-top: 2vh;
            margin-left: 2vw;
            margin-right: 2vw;
            margin-bottom: 0;
            height: 15vh;
            font-family: "Robot-Bold",  sans-serif;
            color: black;
            font-size: 200%;
            font-weight: bold;
            text-shadow: 1px 1px 1px;
            text-align: center;

        }

        .button_wrapper{
            width: 94vw;
            margin-top: 3vw;
            margin-left: 3vw;
            margin-right: 3vw;
            margin-bottom: 0;
            border: 0;
            border-radius: 8px;
            background-color: rgba(255,255,255,0.1);
            font-family: "Robot-Bold", sans-serif;
            color: rgba(255,255,255,0.7);
            text-align: center;
            font-size: 120%;
            font-weight: bold;

            .button{
                border:0;
                background-color: transparent;
                text-decoration: none;
            }
            .button:hover {
                background-color: rgba(255,255,255,1);
            }
        }



        hr{
            width: 100%;
            border-color: rgba(255,255,255,0.5);
            margin: 0;
            margin-top:3vw;

        }
        .tagContent {

            overflow: auto;
            height: 103vw;
            .tag_wrapper{
                margin-top: 3vw;
                margin-left: 3vw;
                margin-right: 3vw;

                .tagName{
                    width: 92vw;
                    height: 6vw;
                    margin: 0;
                    border: 0;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    padding-left: 2vw;
                    padding-top: 1vw;
                    background-color: rgba(255,255,255,0.7);
                    color: rgba(51,51,51,0.9);
                    font-size: 120%;
                    font-weight: bold;
                }

                .tagDescription{
                    width: 94vw;
                    height: 21vw;
                    margin: 0;
                    border: 0;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    background-color: rgba(255,255,255,0.3);
                    color: #333;
                    font-size: 120%;
                    font-weight: bold;

                }
            }
        }
        .overlay {
              position: fixed;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              background: rgba(0, 0, 0, 0.7);
              transition: opacity 500ms;
              visibility: hidden;
              opacity: 0;
        }
        .overlay:target {
              visibility: visible;
              opacity: 1;
        }

        .popUpWindow{
            top: 25vw;
            margin-left: 5vw;
            margin-right: 5vw;
            margin-bottom: 0;
            border: 0;
            border-radius: 8px;
            background:#ddd;
            width: 90vw;
            height:85vw;
            position: fixed;
            z-index: 3;
            transition: all 5s ease-in-out;

            .form_wrapper.createRoom {
                width:90vw;
                height:60vw;
                margin:auto;
                margin-top: 2vw;

              .create_new_chat {
                  width:90vw;
                  height:inherit;
                  margin:0
              }

                label{
                    font-family: "Robot-Bold", sans-serif;
                    color: black;
                    font-size: 120%;
                    font-weight: bold;
                    margin-left: 1.5vw;
                    //text-shadow: 1px 1px 1px;
                }

                input[type=text] {
                    background-color: inherit;
                    width: 84vw;
                    padding: 1.2vw;
                    margin-left: 1.5vw;
                    margin-right: 1.5vw;
                    margin-top: 1vw;
                    margin-bottom: 2vw;
                    display: inline-block;
                    border:none;
                    border-bottom: 1.5px solid black;


                    font-size: 15px;
                }

                select{
                    width: 70%;
                    padding: 1.2vw;
                    margin: 1.5vw 0;
                    display: inline-block;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;
                    font-size: 15px;
                }

                .repeat{
                    //padding-right: 60vw;
                }

                .repeat_wrapper{
                    margin-top: 1.7vw;
                    margin-bottom: 1.7vw;
                }


                .check{
                      display: inline-block;
                      padding-left: 3vw;
                      text-indent: -2.3vw;
                      font-size: 110%;
                }

                input[type="checkbox"]{
                    width: 4vw;
                    height: 3.4vw;
                    padding: 0;
                    margin: 1vw 0;
                    vertical-align: bottom;
                    position: relative;
                    top: -1px;
                    overflow: hidden;


                }

                .create.submit_button {
                    width: 81vw;
                    font-size: 15px;
                    text-align: center;
                    background-color: #4CAF50;
                    color: white;
                    padding: 2.4vw;
                    margin: 0;
                    margin-left: auto;
                    margin-right: auto;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                }

                .create.submit_button:hover {
                    background-color: #45a049;
                }
            }
        }

        .popUpWindow .close {
            position: absolute;
            top: 0px;
            right: 10px;
            transition: all 200ms;
            font-size: 30px;
            font-weight: bold;
            text-decoration: none;
            color: #333;
        }
       /* .refresh_tag{
            margin-top: 12vh;
            margin-bottom: 0;
            color: white;
            text-align: center;

            .refresh_icon{
                margin-left: auto;
                margin-right: auto;
            }

            i{
                color:white;
            }

            .p_wrapper{
                text-align: center;
            }

            p{
                font-family: "Centaur", cursive, sans-serif;
                font-size: 140%;
                font-weight: bold;
                text-shadow: 0.5px 0.5px 1px;
                color:black;

            }
        }*/
    }
}
